body{
	background-color: grey;
	margin: 0px;
}

img{
	position: absolute;
	margin: 0px 15%;
}

.backgroundImage{
	border: 5px solid black;
	width: 1000px;
	height: 600px;
}

.duckImage{
	width: 100px;
	margin: 250px 45%;
}

h2{
	padding-left: 15%;
}

.hitCounter{
	padding-top: 625px;
	margin: 0px;
}

.missCounter{
	margin-top: 10px;
}
